{{- $colorTheme := promptString "color theme" -}}
{{- $gtkTheme := promptString "GTK theme" -}}
{{- $iconTheme := promptString "icon theme" -}}
{{- $cursorTheme := promptString "cursor theme" -}}
{{- $serifFont := promptString "serif font" -}}
{{- $sansSerifFont := promptString "sans-serif font" -}}
{{- $monoFont := promptString "mono font" -}}
{{- $emojiFont := promptString "emoji font" -}}
{{- $iconFont := promptString "icon font" -}}
{{- $gitEmail := promptString "git author email" -}}
{{- $gitSigningKey := promptString "git GPG key id" -}}
{{- $joplinGitRepo := promptString "Joplin backup Git repo" -}}

sourceDir: code/dotfiles
follow: true
data:
  git:
    email: {{ $gitEmail }}
    signingkey: {{ $gitSigningKey }}
  joplin:
    gitrepo: {{ $joplinGitRepo }}
  theme:
    color: {{ $colorTheme }}
    gtk: {{ $gtkTheme }}
    icon: {{ $iconTheme }}
    cursor: {{ $cursorTheme }}
  font:
    serif: {{ $serifFont }}
    sansserif: {{ $sansSerifFont }}
    mono: {{ $monoFont }}
    emoji: {{ $emojiFont }}
    icon: {{ $iconFont }}
  themes:
    atelierforestlight:
      base00: f1efee
      base01: e6e2e0
      base02: a8a19f
      base03: 9c9491
      base04: 766e6b
      base05: 68615e
      base06: 2c2421
      base07: 1b1918
      base08: f22c40
      base09: df5320
      base0a: c38418
      base0b: 7b9726
      base0c: 3d97b8
      base0d: 407ee7
      base0e: 6666ea
      base0f: c33ff3
    googledark:
      base00: 1d1f21
      base01: 282a2e
      base02: 373b41
      base03: 969896
      base04: b4b7b4
      base05: c5c8c6
      base06: e0e0e0
      base07: ffffff
      base08: CC342B
      base09: F96A38
      base0a: FBA922
      base0b: 198844
      base0c: 3971ED
      base0d: 3971ED
      base0e: A36AC7
      base0f: 3971ED
