[user]
  email = {{ .git.email }}
  name = Ashutosh Gangwar
  signingkey = {{ .git.signingkey }}
[pull]
  rebase = true
[core]
  editor = vim
  autocrlf = input
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[commit]
  gpgsign = true
[url "git@github.com:"]
  insteadOf = https://github.com/
