[user]
  email = {{ .git.email }}
  name = Ashutosh Gangwar
  signingkey = {{ .git.signingkey }}

[pull]
  rebase = true

[core]
  editor = vim
  autocrlf = input
  pager = delta --theme='GitHub'

[commit]
  gpgsign = true

[url "git@github.com:"]
  insteadOf = https://github.com/

[init]
  defaultBranch = main 

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
