! theme: {{ .theme.color }}
{{- with index .themes .theme.color }}

*foreground:	#{{ .base05 }}
*background:	#{{ .base00 }}
*cursorColor:	#{{ .base05 }}

*color0:	#{{ .base00 }}
*color1:	#{{ .base08 }}
*color2:	#{{ .base0b }}
*color3:	#{{ .base0a }}
*color4:	#{{ .base0d }}
*color5:	#{{ .base0e }}
*color6:	#{{ .base0c }}
*color7:	#{{ .base05 }}

*color8:	#{{ .base03 }}
*color9:	#{{ .base08 }}
*color10:	#{{ .base0b }}
*color11:	#{{ .base0a }}
*color12:	#{{ .base0d }}
*color13:	#{{ .base0e }}
*color14:	#{{ .base0c }}
*color15:	#{{ .base07 }}
*color16:	#{{ .base09 }}

*color17:	#{{ .base0f }}
*color18:	#{{ .base01 }}
*color19:	#{{ .base02 }}
*color20:	#{{ .base04 }}
*color21:	#{{ .base06 }}

{{- end }}
