{{- with index .themes .theme }}

foreground #{{ .base05 }}
background #{{ .base00 }}

background_opacity         1
dynamic_background_opacity yes

selection_foreground #{{ .base00 }}
selection_background #{{ .base05 }}

active_border_color #{{ .base03 }}
inactive_border_color #{{ .base01 }}

active_tab_foreground   #{{ .base05 }}
active_tab_background   #{{ .base00 }}
inactive_tab_foreground #{{ .base04 }}
inactive_tab_background #{{ .base01 }}

cursor #{{ .base05 }}
cursor_text_color #{{ .base00 }}

url_color #{{ .base04 }}

color0	#{{ .base00 }}
color1	#{{ .base08 }}
color2	#{{ .base0b }}
color3	#{{ .base0a }}
color4	#{{ .base0d }}
color5	#{{ .base0e }}
color6	#{{ .base0c }}
color7	#{{ .base05 }}

color8	#{{ .base03 }}
color9	#{{ .base09 }}
color10	#{{ .base01 }}
color11	#{{ .base02 }}
color12	#{{ .base04 }}
color13	#{{ .base06 }}
color14	#{{ .base0f }}
color15 #{{ .base05 }}

{{- end }}
