font_family      {{ .font.mono }} Medium
bold_font        {{ .font.mono }} Semibold
italic_font      {{ .font.mono }} Medium Italic
bold_italic_font {{ .font.mono }} Semibold Italic

font_size 12

active_tab_font_style	bold
inactive_tab_font_style	normal
