font_family      Source Code Pro Semibold
bold_font        Source Code Pro Bold
italic_font      Source Code Pro Semibold Italic
bold_italic_font Source Code Pro Bold Italic

font_size 11.5

active_tab_font_style	bold
inactive_tab_font_style	normal
