font_family      {{ .font.mono }} Semibold
bold_font        {{ .font.mono }} Bold
italic_font      {{ .font.mono }} Semibold Italic
bold_italic_font {{ .font.mono }} Bold Italic

font_size 12

active_tab_font_style	bold
inactive_tab_font_style	normal
