{
  "debug.openDebug": "openOnDebugBreak",
  "editor.fontFamily": "monospace, '{{ .font.icon }}'",
  "editor.fontSize": 18,
  "editor.fontWeight": "500",
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.rulers": [80],
  "editor.suggestSelection": "first",
  "emmet.triggerExpansionOnTab": true,
  "emeraldwalk.runonsave": {
    "autoClearConsole": true,
    "commands": [
      {
        "match": "\\.arb$",
        "isAsync": false,
        "cmd": "cd ${workspaceFolder}; flutter gen-l10n"
      }
    ]
  },
  "files.autoSave": "afterDelay",
  "go.languageServerExperimentalFeatures": {
    "diagnostics": true
  },
  "go.lintTool": "golangci-lint",
  "go.useLanguageServer": true,
  "gopls": {
    "codelenses": {
      "generate": false,
      "vendor": false
    },
    "completeUnimported": true,
    "gofumpt": true,
    "staticcheck": true,
    "usePlaceholders": true
  },
  "markdown.preview.fontSize": 20,
  "python.languageServer": "Microsoft",
  "sundial.sunrise": "09:00",
  "sundial.sunset": "18:30",
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "window.autoDetectColorScheme": false,
  "window.zoomLevel": -1,
  "workbench.colorTheme": "Night Owl",
  "workbench.iconTheme": "vscode-icons",
  "workbench.preferredDarkColorTheme": "Night Owl",
  "workbench.preferredLightColorTheme": "Night Owl Light",
  "xmlTools.splitAttributesOnFormat": true,
  "[dart]": {
    "editor.selectionHighlight": false,
    "editor.suggest.snippetsPreventQuickSuggestions": false,
    "editor.suggestSelection": "first",
    "editor.tabCompletion": "onlySnippets",
    "editor.wordBasedSuggestions": false
  },
  "[go]": {
    "editor.codeActionsOnSave": {
      "source.organizeImports": true
    },
  },
  "[go.mod]": {
    "editor.codeActionsOnSave": {
      "source.organizeImports": true
    }
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[markdown]": {
    "editor.defaultFormatter": "yzhang.markdown-all-in-one"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  }
}
