{{- with index .themes .theme.color }}

set $base00 #{{ .base00 }}
set $base01 #{{ .base01 }}
set $base02 #{{ .base02 }}
set $base03 #{{ .base03 }}
set $base04 #{{ .base04 }}
set $base05 #{{ .base05 }}
set $base06 #{{ .base06 }}
set $base07 #{{ .base07 }}
set $base08 #{{ .base08 }}
set $base09 #{{ .base09 }}
set $base0a #{{ .base0a }}
set $base0b #{{ .base0b }}
set $base0c #{{ .base0c }}
set $base0d #{{ .base0d }}
set $base0e #{{ .base0e }}
set $base0f #{{ .base0f }}

{{- end }}

font pango:{{ .font.sansserif }}, {{ .font.icon }} 11

# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0d $base00 $base0d   $base0c
client.focused_inactive $base01 $base01 $base05 $base03   $base01
client.unfocused        $base01 $base00 $base05 $base01   $base01
client.urgent           $base08 $base08 $base00 $base08   $base08
client.placeholder      $base00 $base00 $base05 $base00   $base00
client.background       $base07

default_border pixel 1
default_floating_border none

set $mod Mod4

set $w1    "1:"
set $w2    "2:"
set $w3    "3:"
set $w4    "4:"
set $w5    "5:"
set $w6    "6:"
set $w7    "7:"
set $w8    "8:"
set $w9    "9:"
set $w10   "10:"

floating_modifier $mod

bindsym $mod+Return exec kitty -1
bindsym $mod+Shift+q kill

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

bindsym $mod+semicolon split h
bindsym $mod+v split v

bindsym $mod+f fullscreen toggle

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle

bindsym $mod+1 workspace $w1
bindsym $mod+2 workspace $w2
bindsym $mod+3 workspace $w3
bindsym $mod+4 workspace $w4
bindsym $mod+5 workspace $w5
bindsym $mod+6 workspace $w6
bindsym $mod+7 workspace $w7
bindsym $mod+8 workspace $w8
bindsym $mod+9 workspace $w9
bindsym $mod+0 workspace $w10

bindsym $mod+Shift+1 move container to workspace $w1
bindsym $mod+Shift+2 move container to workspace $w2
bindsym $mod+Shift+3 move container to workspace $w3
bindsym $mod+Shift+4 move container to workspace $w4
bindsym $mod+Shift+5 move container to workspace $w5
bindsym $mod+Shift+6 move container to workspace $w6
bindsym $mod+Shift+7 move container to workspace $w7
bindsym $mod+Shift+8 move container to workspace $w8
bindsym $mod+Shift+9 move container to workspace $w9
bindsym $mod+Shift+0 move container to workspace $w10

bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Shift+s sticky toggle
bindsym $mod+r       mode "resize"

mode "resize" {
    bindsym h resize shrink width 10 px or 10 ppt
    bindsym j resize grow height 10 px or 10 ppt
    bindsym k resize shrink height 10 px or 10 ppt
    bindsym l resize grow width 10 px or 10 ppt

    bindsym Escape mode "default"
}

bindsym XF86AudioPrev           exec --no-startup-id playerctl previous
bindsym XF86AudioNext           exec --no-startup-id playerctl next
bindsym XF86AudioPlay           exec --no-startup-id playerctl play-pause
bindsym XF86AudioMute           exec --no-startup-id amixer -q -D pulse sset Master 1+ toggle
bindsym XF86AudioRaiseVolume    exec --no-startup-id amixer -q -D pulse sset Master 2%+ unmute
bindsym XF86AudioLowerVolume    exec --no-startup-id amixer -q -D pulse sset Master 2%- unmute
bindsym XF86MonBrightnessUp     exec --no-startup-id xbacklight -inc 5
bindsym XF86MonBrightnessDown   exec --no-startup-id xbacklight -dec 5

bindsym $mod+Escape             exec dm-tool lock
bindsym grave                   exec --no-startup-id albert toggle

bindsym $mod+Mod1+n             exec --no-startup-id dunstctl close
bindsym $mod+Shift+n            exec --no-startup-id dunstctl close-all
bindsym $mod+n                  exec --no-startup-id dunstctl history-pop
bindsym $mod+Ctrl+n             exec --no-startup-id dunstctl context

bindsym Print                   exec flameshot gui -p $HOME/screenshots
bindsym Shift+Print             exec flameshot full -p $HOME/screenshots

#assign workspaces
assign [class="^kitty$"] $w1
assign [class="^(Code|jetbrains-(idea-ce|studio))$"] $w2
assign [class="^(Google-chrome|firefox)$"] $w3
assign [instance="^pcmanfm$"] $w4
assign [class="^Gimp.*|Joplin$"] $w5
assign [class="^vlc$"] $w6
assign [class="^Tor Browser$"] $w9
assign [instance="^transmission-gtk$"] $w10
for_window [class="Spotify"] move to workspace $w6

# float all pop-up windows
for_window [window_role="pop-up"] floating enable

#float, resize and reposition blueman manager window
for_window [class="Blueman-manager"] floating enable
for_window [class="Blueman-manager"] resize set 720 560
for_window [class="Blueman-manager"] move position center

#float and reposition network manager connection editor window
for_window [class="Nm-connection-editor"] floating enable
for_window [class="Nm-connection-editor"] move position center

# GTK3 File Chooser Dialog window size issue workaround
for_window [window_role="GtkFileChooserDialog"] resize set 720 560
for_window [window_role="GtkFileChooserDialog"] move position center

# float and reposition pulseaudio volume control (pavucontrol)
for_window [class="Pavucontrol"] floating enable
for_window [class="Pavucontrol"] resize set 940 540
for_window [class="Pavucontrol"] move position center

# float and reposition KeePassXC
for_window [instance="keepassxc"] floating enable
for_window [instance="keepassxc"] resize set 940 540
for_window [instance="keepassxc"] move position center

# float Gnome System Monitor
for_window [instance="gnome-system-monitor"] floating enable
for_window [instance="gnome-system-monitor"] move position center

exec_always --no-startup-id numlockx on
exec_always --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec_always --no-startup-id /usr/bin/picom
exec_always dex -a

bar {
    position top
    tray_padding 4
    strip_workspace_numbers yes
    status_command i3status-rs "$HOME/.config/i3/status.toml"

    colors {
        background  $base00 # Background color of the bar
        separator   $base01 # Text color to be used for the separator 
        statusline  $base04 # Text color to be used for the statusline

        # State             Border  BG      Text
        focused_workspace   $base05 $base0d $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0a $base00
    }
}
