[theme]
theme = "plain"
[theme.overrides]
separator = "  |  "
end_separator = " "
{{ with index .themes .theme.color -}}
separator_bg = "#{{ .base00 }}"
separator_fg = "#{{ .base01 }}"
alternating_tint_bg = "#000000"
alternating_tint_fg = "#000000"
idle_bg = "#{{ .base00 }}"
idle_fg = "#{{ .base05 }}"
info_bg = "#{{ .base00 }}"
info_fg = "#{{ .base0c }}"
good_bg = "#{{ .base00 }}"
good_fg = "#{{ .base0b }}"
warning_bg = "#{{ .base00 }}"
warning_fg = "#{{ .base0a }}"
critical_bg = "#{{ .base00 }}"
critical_fg = "#{{ .base08 }}"
{{- end }}

[icons]
icons = "awesome6"

[[block]]
block = "custom"
interval = 1
json = true

{{- $time_short :=  `echo "{\"icon\":\"time\",\"state\":\"Idle\", \"text\": \"$(date +%R)\"}"` }}
{{- $time_long :=  `echo "{\"icon\":\"time\",\"state\":\"Good\", \"text\": \"$(date +%a\ %d\ %b\ %Y,\ %R)\"}"` }}
cycle = ['{{ $time_short }}', '{{ $time_long }}']

[[block]]
block = "custom"
interval = 30
json = true
command = "i3status-github -n"
[[block.click]]
button = "left"
cmd = "xdg-open 'https://github.com/notifications'"

[[block]]
block = "sound"
step_width = 1
max_vol = 100

[[block]]
block = "battery"
device = "BAT0"
interval = 10
format = "$icon $percentage"
full_format = "$icon"
