[Settings]
gtk-theme-name={{ .theme.gtk }}
gtk-icon-theme-name={{ .theme.icon }}
gtk-cursor-theme-name={{ .theme.cursor }}
gtk-cursor-theme-size=0
gtk-font-name=sans-serif 11
gtk-application-prefer-dark-theme=false
gtk-enable-primary-paste=false
gtk-toolbar-style=GTK_TOOLBAR_BOTH
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=0
gtk-menu-images=1
gtk-enable-event-sounds=0
gtk-enable-input-feedback-sounds=0
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
gtk-xft-rgba=rgb
gtk-modules=gail:atk-bridge
