{{- with index .themes .theme }}
[global]
  monitor = 0
  follow = mouse
  geometry = "320x5-25+50"
  indicate_hidden = yes
  shrink = no
  transparency = 0
  notification_height = 0
  separator_height = 2
  padding = 15
  horizontal_padding = 15
  frame_width = 1
  frame_color = "#{{ .base05 }}"
  separator_color = "#{{ .base05 }}"
  sort = yes
  idle_threshold = 120
  font = Ubuntu 11
  line_height = 0
  markup = full
  format = "<b>%s %p</b>\n%b"
  alignment = left
  show_age_threshold = 60
  word_wrap = yes
  ellipsize = middle
  ignore_newline = no
  stack_duplicates = true
  hide_duplicate_count = false
  show_indicators = yes
  icon_position = left
  max_icon_size = 32
  icon_path = /usr/share/icons/la-capitaine/actions/22x22:/usr/share/icons/la-capitaine/apps/scalable:/usr/share/icons/la-capitaine/devices/scalable:/usr/share/icons/la-capitaine/status/scalable
  sticky_history = yes
  history_length = 20
  always_run_script = true
  startup_notification = false
  verbosity = mesg
  corner_radius = 0
  force_xinerama = false
  mouse_left_click = close_current
  mouse_middle_click = do_action
  mouse_right_click = close_all

[shortcuts]
  close = ctrl+space
  close_all = ctrl+shift+space
  history = ctrl+grave
  context = ctrl+shift+period

[urgency_low]
  background = "#{{ .base01 }}"
  foreground = "#{{ .base03 }}"
  timeout = 10

[urgency_normal]
  background = "#{{ .base02 }}"
  foreground = "#{{ .base05 }}"
  timeout = 10

[urgency_critical]
  background = "#{{ .base08 }}"
  foreground = "#{{ .base06 }}"
  timeout = 0
{{- end }}
